
/* Här är styling som gäller för hela sidan */
body {
    box-sizing: border-box;
    font-family: Helvetica, "sans serif";
    color: #ff726c;
    margin: 0;
  }
  
  /* Här finns all styling för LinkedIn-knappen */
  
  .button {
    background-color: white;
    color: #ff726c;
    padding: 1.5rem;
    border-radius: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
  }

  .button:hover {
    background-color: #f3dfdf;
    cursor: pointer;
  }
  
  /* Här är styling som gäller för alla rubriker och texter */
  
  h1 {
    margin: 2rem;
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 4rem;
  }

  .utbildning-h2 {
    margin-top: 4rem;
  }
  
  h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  p {
    font-size: 1.2rem;
    font-weight: 200;
    color: black;
  }
  
  /* Här är styling för text boxen som vi använder runt texterna i about-me sektionen och greatness sektionen. */
  
  .text-container {
    width: 60%;
    margin: 0 auto;
  }
  
  /* Här är styling för about-me sektionen */
  
  .about-me {
    background-color: #ff726c;
    padding: 9rem 2rem;
    color: white;
    text-align: center;
  }
  
  /* Här är styling för bilden som ligger i about-me sektionen */
  
  .about-me img {
    width: 14rem;
    height: 12rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  /* Här är styling för greatness sektionen */
  
  .greatness {
    padding: 9rem 2rem;
    width: 60%;
    margin: 0 auto;
  }

  /* Här är styling för GitHub-knappen */

  .greatness .button{
    background-color: #ff726c;
    color: white;
    padding: 1.2rem;
    border-radius: 2.5rem;
    text-decoration: none;
    font-weight: 450;
  }

  .greatness .button:hover {
    background-color: #f28f8f;
    cursor: pointer;
  }
  
  /* Här är styling för footern på sidan */
  
  footer {
    background-color: #fbcfcd;
    padding: 9rem 18rem;
    display: flex;
    justify-content: left;
  }